In [4]:
import pandas as pd
import re
import math
import numpy as np

## Preprocessing

In [5]:
shanghaiDataset = "https://raw.githubusercontent.com/DNQT/Foundation-of-Computer-Science-Project/main/Reference%20Databases/shanghaiData.csv"
timesDataset = "https://raw.githubusercontent.com/DNQT/Foundation-of-Computer-Science-Project/main/Reference%20Databases/timesData.csv"
worldDataset="https://raw.githubusercontent.com/DNQT/Foundation-of-Computer-Science-Project/main/Reference%20Databases/cwurData.csv"

In [9]:
def readDataSet(url , sep =',' , encoding='utf8',header='infer'):
    return pd.read_csv(url,sep=sep ,header=header,encoding=encoding)

In [19]:
# read datasets
shanghaiDF=readDataSet(shanghaiDataset)
timesDF=readDataSet(timesDataset)
worldDF=readDataSet(worldDataset)

In [35]:
#drop the none row of shanghai

index =shanghaiDF[shanghaiDF['university_name'].isnull()==True]
shanghaiDF.drop(index.index,inplace = True)

In [ ]:
# rename institution column in university_name

worldDF.rename(columns={'institution':'university_name'},inplace=True)

In [36]:
shanghaiDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4896 entries, 0 to 4896
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   world_rank       4896 non-null   object
 1   university_name  4896 non-null   object
 2   national_rank    4896 non-null   object
 3   total_score      1101 non-null   float64
 4   alumni           4896 non-null   float64
 5   award            4895 non-null   float64
 6   hici             4895 non-null   float64
 7   ns               4875 non-null   float64
 8   pub              4895 non-null   float64
 9   pcp              4895 non-null   float64
 10  year             4896 non-null   int64
dtypes: float64(7), int64(1), object(3)
memory usage: 619.0+ KB

In [38]:
timesDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2603 entries, 0 to 2602
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   world_rank              2603 non-null   object
 1   university_name         2603 non-null   object
 2   country                 2603 non-null   object
 3   teaching                2603 non-null   float64
 4   international           2603 non-null   object
 5   research                2603 non-null   float64
 6   citations               2603 non-null   float64
 7   income                  2603 non-null   object
 8   total_score             2603 non-null   object
 9   num_students            2544 non-null   object
 10  student_staff_ratio     2544 non-null   float64
 11  international_students  2536 non-null   object
 12  female_male_ratio       2370 non-null   object
 13  year                    2603 non-null   int64
dtypes: float64(4), int64(1), object(9)
memory usage: 284.8+ KB

In [39]:
worldDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   world_rank            2200 non-null   int64
 1   institution           2200 non-null   object
 2   country               2200 non-null   object
 3   national_rank         2200 non-null   int64
 4   quality_of_education  2200 non-null   int64
 5   alumni_employment     2200 non-null   int64
 6   quality_of_faculty    2200 non-null   int64
 7   publications          2200 non-null   int64
 8   influence             2200 non-null   int64
 9   citations             2200 non-null   int64
 10  broad_impact          2000 non-null   float64
 11  patents               2200 non-null   int64
 12  score                 2200 non-null   float64
 13  year                  2200 non-null   int64
dtypes: float64(2), int64(10), object(2)
memory usage: 240.8+ KB

### 1. For each university, extract from the times dataset the most recent and the least recent data, obtaining two separate dataframes

In [ ]:
todo:
    
    da trovare le colone communi